[flake8]
# https://wiki.blender.org/wiki/Process/Addons/Guidelines
max-line-length = 120
per-file-ignores =
    *.pyi:E301,E302,E305,E701,F401,SC200
ignore-names=
    bpy_prop_collection
    bpy_prop_array
    bpy_struct
    template_ID_preview
    BoolProperty
    CollectionProperty
    EnumProperty
    FloatProperty
    FloatVectorProperty
    IntProperty
    PointerProperty
    StringProperty
    Diagonal
    Translation
    Rotation
    Identity
    WIP_with_template_mesh
    glClearColor
    glClear
    glEnable
    glDisable
    glBlendFunc
    glDepthMask
    glCullFace
    glActiveTexture
    glBindTexture
    glTexParameteri
dictionaries=en_US,python,technical
whitelist=dictionary.txt
