*
!*/
!*.pyi
!py.typed
!__init__.py
!/.flake8
!/.editorconfig
!/.gitattributes
!/.gitignore
!/.github/workflows/*.yml
!/poetry.lock
!/dictionary.txt
!/pyproject.toml
!/LICENSE
!/scripts/*.bat
!/scripts/*.sh
/venv/
/.venv/
/.vs/
/.idea/
/.vscode/
